* {
    box-sizing: border-box;
}

body {
    width: 100%;
    box-sizing: border-box;
    background: white url('../imgs/background.png') repeat-y;
}

html {
    font-family: 'Gotham Pro', sans-serif;
}
/* header */

.jip-header {
    height: 100px;
    background: white;
}

.burger-toggle {
    color: #5C9506;
    padding: 0 22px 0 70px;
}

.burger-title-wrapper {
    max-width: 300px;
    margin: auto 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
}

.burger-title {
    min-width: 270px;
}

.left-logo {
    position: relative;
    top: 13px;
    left: 3%;
}

.right-logo {
    position: relative;
    top: 13px;
    right: 3%;
}

.nav-contacts {
    color: #FF3E33;
    margin-right: 11px;
}

.telephone {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.nav-button {
    height: 43px;
    border-radius: 27px;
    color: white;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
    background: #FF3E33;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.nav-button:hover, .jip-button:hover {
     background-color: #e92217;
     color: #ffffff;
 }

.nav-button:active, .jip-button:active {
    background-color: #f31104;
    color: #ffffff;
}

/* second nav */
.second-nav {
    background: #5C9506;
}

.uk-navbar-nav > li > a {
    color: #f2f2f2;
    text-transform: none;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
}

.uk-navbar-nav > li > a:hover {
    color: #ffffff;
}

.uk-navbar-nav > li > a:active {
    color: black;
}

/* offcanvas styles */
.close-btn {
    color: black !important;
}

.offcanvas-link a{
    color: black;
}
/* header */
.header-container {
    background: linear-gradient(90deg, #FEE5D0 5.2%, rgba(255, 255, 255, 0) 100%), url('../imgs/container1.png') no-repeat center;
    background-size: cover;
}

.jip-header-container {
    padding: 74px 70px 100px 70px;
}

.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.circle-list {
    height: 100%;
    padding-left: 53px;
    line-height: 35px;
    font-weight: 500;
    font-size: 18px;
    color: #5B5B5B;
    background: url('../imgs/Ellipse.svg') no-repeat left top;
    margin-bottom: 15px;
}

.jip-heading-primary {
    font-weight: 900;
    line-height: 56px;
    color: #5B5B5B;
    font-size: 40px;
}

.form-container {
    margin-top: 6px;
}

.jip-form {
    min-width: 270px;
}

.jip-input {
    border: 2px solid green;
    border-radius: 18px;
    height: 40px;
}

/* about us section */
.jip-about {
    padding-top: 58px;
    padding-bottom: 30px;
}

.about-wrapper {
    padding: 0 30px;
}

.jip-heading-secondary {
    margin-bottom: 48px;
    font-size: 30px;
    line-height: 42px;
    font-weight: bold;
    color: #5B5B5B;
}

.jip-paragraph {
    font-size: 18px;
    color: #5B5B5B;
    line-height: 25px;
    font-weight: 400;
}

.about-icon {
    height: 55px;
}

.about-icon-title {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color: #5C9506;
}

.about-icon-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: #5B5B5B;
}

.m-l-30 {
    margin-left: 30px;
}

/* sections */

.jip-section {
    background: #FEE5D0;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    padding-top: 60px;
    padding-bottom: 60px;
}

.text-white {
    color: white;
}

.jip-button {
    width: 100%;
    background: #FF3E33;
    color: #ffffff;
    border: none;
    border-radius: 18px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    height: 40px;
    text-transform: none;
}

/* programs */
.programs {
    width: 89%;
    margin: auto;
    height: 709px;
}

/* feedback-middle */
.feedback-middle {
    background: linear-gradient(90deg, #5C9506 0%, rgba(255, 247, 220, 0) 101.71%), url('../imgs/feedback-middle.png') no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}
/* teachers */

/* groups */

/* video */
.video {
    height: 400px;
    background:  linear-gradient(90deg, #5C9506 0%, rgba(255, 247, 220, 0) 101.71%), url('../imgs/video-cover.png') no-repeat center;
    background-size: cover;
    padding: 47px 70px;
    display: flex;
    box-sizing: border-box;
}

.video-container {
    flex: 4;
    border: 2px solid #5C9506;
    border-radius: 9px;
    background: #DFDFDF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* gallery */

/* news */
.news {
    width: 89%;
    margin: auto;
}

/* feedback */
.feedback-container {
    padding: 60px 70px;
}

.feedback-item {
    border: 2px solid #5C9506;
    border-radius: 9px;
    margin-bottom: 27px;
    display: flex;
}

.image-wrapper {
    flex: 1.5;
}

.feedback-content {
    flex: 8;
    padding: 30px 70px 30px 0;
}

.feedback-title {
    margin-bottom: 0;
    font-size: 24px;
}

.feedback-text {
    font-size: 14px;
    margin: 0;
}

.circle-image {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.circle-image img {
    border-radius: 50%;
    width: 104px;
    height: 104px;
}

/* footer styles */
footer {
    height: 324px;
    display: flex;
    flex-direction: row;
}

#map {
    width: 25%;
    height: 100%;
}

.contacts {
    width: 35%;
    padding: 55px 47px;
}

.tour-form {
    width: 40%;
    background: #5C9506;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-row-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
}

.footer-input {
    width: 47%;
    height: 40px;
    border-radius: 18px;
    border: 2px solid red;
    text-align: center;
}

.footer-form-button {
    width: 100%;
    height: 43px;
    border-radius: 27px;
    border: none;
    background: #FF3E33;
    color: #F2F2F2;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
