* {
    box-sizing: border-box;
}

body {
    width: 100%;
    box-sizing: border-box;
    background: white url('../imgs/background.png') repeat-y;
}

h2, p, h3, h1 {
    font-family: 'Gotham Pro', sans-serif;
}
/* header */

.jip-header {
    height: 100px;
    background: white;
}

.second-nav {
    background: #5C9506;
}

.uk-navbar-nav>li>a {
    color: #ffffff;
    text-transform: none;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
}

.header-container {
    background: linear-gradient(90deg, #FEE5D0 5.2%, rgba(255, 255, 255, 0) 100%), url('../imgs/container1.png') no-repeat center;
    background-size: cover;
}

.primary-title {
    text-align: center;
    margin-bottom: 50px;
}

.text-white {
    color: white;
}

.jip-button {
    width: 100%;
    background: #FF3E33;
    color: #ffffff;
    border: none;
    border-radius: 18px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    height: 40px;
    text-transform: none;
}

.jip-button:hover {
    background: #FF5D38;
}


/* programs */
.programs {
    width: 89%;
    margin: auto;
    height: 709px;
}

/* feedback-middle */
.feedback-middle {
    background: linear-gradient(90deg, #5C9506 0%, rgba(255, 247, 220, 0) 101.71%), url('../imgs/feedback-middle.png') no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}
/* teachers */

/* groups */

/* video */
.video {
    height: 400px;
    background:  linear-gradient(90deg, #5C9506 0%, rgba(255, 247, 220, 0) 101.71%), url('../imgs/video-cover.png') no-repeat center;
    background-size: cover;
    padding: 47px 70px;
    display: flex;
    box-sizing: border-box;
}

.video-container {
    flex: 4;
    border: 2px solid #5C9506;
    border-radius: 9px;
    background: #DFDFDF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* gallery */

/* news */
.news {
    width: 89%;
    margin: auto;
}

/* feedback */
.feedback {
    width: 89%;
    margin: auto;
    height: 800px;
    padding: 60px 70px;
}

.feedback-item {
    height: 170px;
    border: 2px solid #5C9506;
    border-radius: 9px;
    margin-bottom: 27px;
    display: flex;
}

.image-wrapper {
    flex: 1.5;
}

.feedback-content {
    flex: 8;
    padding: 30px 70px 30px 0;
}

.feedback-title {
    margin-bottom: 0;
    font-size: 24px;
}

.feedback-text {
    font-size: 14px;
}

.circle-image {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.circle-image img {
    border-radius: 50%;
    width: 104px;
    height: 104px;
}

/* footer styles */
footer {
    height: 324px;
    display: flex;
    flex-direction: row;
}

#map {
    width: 25%;
    height: 100%;
}

.contacts {
    width: 35%;
    padding: 55px 47px;
}

.tour-form {
    width: 40%;
    background: #5C9506;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-row-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
}

.footer-input {
    width: 47%;
    height: 40px;
    border-radius: 18px;
    border: 2px solid red;
    text-align: center;
}

.footer-form-button {
    width: 100%;
    height: 43px;
    border-radius: 27px;
    border: none;
    background: #FF3E33;
    color: #F2F2F2;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.form-container {

}


@media only screen and (max-width: 900px) {
    .form-container {
        display: none;
    }
}
